.profile__author {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #ffffff;
    margin: 18px 0 16px 0;
    padding: 0;
}