@import url("../vendor/normalize.css");
@import url("../fonts/Inter/inter.css");
@import url("../blocks/photo/photo.css");
@import url("../blocks/page/page.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/header/header.css");
@import url("../blocks/main/main.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__image/profile__image.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__author/profile__author.css");
@import url("../blocks/profile/__edit/profile__edit.css");
@import url("../blocks/profile/__add/profile__add.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/cards/__text/cards__text.css");
@import url("../blocks/cards/__like/cards__like.css");
@import url("../blocks/cards/__item/cards__item.css");
@import url("../blocks/cards/__image/cards__image.css");
@import url("../blocks/cards/__info/cards__info.css");
@import url("../blocks/footer/__author/footer__author.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__button/popup__button.css");
@import url("../blocks/popup/__heading/popup__heading.css");
@import url("../blocks/popup/__text/popup__text.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/profile/__button/profile__button.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/cards/__like/_active/cards__like_active.css");
@import url("../blocks/cards/__delete/cards__delete.css");
@import url("../blocks/photo/__text/photo__text.css");
@import url("../blocks/photo/__image/photo__image.css");
@import url('../blocks/photo/__container/photo__container.css');
@import url("../blocks/popup/__error/popup__error.css");
@import url("../blocks/popup/__text/_name/_error/popup__text_name_error.css");
@import url("../blocks/popup/__label/popup__label.css");
@import url("../blocks/popup/__button/_active/popup__button_active_not.css");