.footer {
    width: 100%;
    max-width: 882px;
    margin: 0 auto;
    margin-top: 66px;
    margin-bottom: 60px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width: 400px)
{
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }
}